EETipView/EETipView.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
EETipView/EETipView.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
